@page
@model TheRealQuoteTool.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuoteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuoteModel.Client" class="control-label"></label>
                <input asp-for="QuoteModel.Client" class="form-control" />
                <span asp-validation-for="QuoteModel.Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.Author" class="control-label"></label>
                <input asp-for="QuoteModel.Author" class="form-control" />
                <span asp-validation-for="QuoteModel.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.totalHours" class="control-label"></label>
                <input asp-for="QuoteModel.totalHours" class="form-control" />
                <span asp-validation-for="QuoteModel.totalHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.totalCost" class="control-label"></label>
                <input asp-for="QuoteModel.totalCost" class="form-control" />
                <span asp-validation-for="QuoteModel.totalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteModel.dateCreated" class="control-label"></label>
                <input asp-for="QuoteModel.dateCreated" class="form-control" />
                <span asp-validation-for="QuoteModel.dateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
